services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: text_to_speech
    ports:
      - "8002:3000"
    env_file:
      - .env
    environment:
      - NODE_ENV=production
      - GOOGLE_APPLICATION_CREDENTIALS=/app/credentials/google-credentials.json
    volumes:
      - ./credentials:/app/credentials:ro
    restart: unless-stopped
